* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-primary-color: #fff;
  --text-secondary-color: #808080;
  --btn-primary-color: #009933;
}

body {
  font-family: "Raleway", sans-serif;
}

.btn {
  padding: 10px;
  border-radius: 12px;
  font-family: "Raleway", sans-serif;
}

.btn:hover {
  cursor: pointer;
}

.btn--start {
  /* background: var(--btn-primary-color); */
  background: linear-gradient(to bottom right, #08be45, #138639);
  color: var(--text-primary-color);
  border: none;
}

.btn--start:hover {
  background: #138639;
}

.btn--login {
  width: 100%;
  margin: 0 auto;
  background-color: var(--text-primary-color);
  border: 1px solid var(--btn-primary-color);
}

.btn--login:hover {
  background: var(--btn-primary-color);
  color: var(--text-primary-color);
}

/* Header */

.header {
  height: 70px;

  display: flex;
  align-items: center;

  /* z-index: 10; */
}

/* Nav */

.nav {
  display: flex;
  align-items: center;

  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: var(--text-primary-color);

  z-index: 20;
}

/* Nav Left */

.logo {
  width: 50px;
  height: 50px;
}

/* Nav Right */
.nav--right {
  margin-left: auto;
}

.fa-bars {
  margin-left: 5px;
}

/* Nav Open/clicked */
.nav--menu {
  position: absolute;
  top: 60px; /* height of header */
  left: 0;
  background: var(--text-primary-color);
  width: 100%;
  height: 45vh;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;

  z-index: 10;
}

.nav--link {
  margin: 0.5rem 0;
  text-decoration: none;

  display: flex;
  align-items: center;
}

.nav--link img {
  margin-right: 0.4rem;
}

.nav--link a {
  color: #2b2b2b;
}

.nav--link a:hover {
  color: #808080;
}

.nav--menu .btn--login {
  margin-top: auto;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* backdrop-filter: blur(px); */
  z-index: 5;
}

.nav.sticky {
  height: 50px;

  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;

  animation: opacity 0.2s forwards;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
}

/* Get Started */

.get-started {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5%;
  line-height: 1.4;
}

.get-started h3 {
  text-align: center;
}

.get-started p {
  color: #808080;
  margin-bottom: 10px;
}

/* Footer */

.footer {
  background-color: #f2f2f2;
  color: #2b2b2b;
  text-align: center;
  padding: 2rem 0;
}

.footer a {
  text-decoration: none;
  color: #2b2b2b;
}

.footer--nav {
}

.footer--nav a {
  color: #2b2b2b;
  text-decoration: none;
  margin: 0 1rem;
}

.footer--support {
  margin: 2rem 0;
  line-height: 1.8;
}

.footer--support a {
  text-decoration: none;
  color: #2b2b2b;
}

.footer--social {
  margin: 2rem 0;
}

.footer--social a {
  margin: 0 0.2rem;
}

.footer--legal {
  font-size: 0.7rem;
}

.footer--legal img {
  margin-bottom: 1rem;
}

.footer--legal a {
  margin: 0 0.2rem;
}
