/* Hero */

/****** need to refactor hero styles, keep code DRY *****/
.hero {
  background-image: url("../img/pexels-ella-olsson-1640774.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text {
  color: #222;
  /* text-shadow: 2px 2px 7px rgb(255, 255, 255); */
  width: 70%;
  text-align: center;
}

.hero .btn--start {
  margin-top: 1rem;
}

/* How It Works */

.how-it-works {
  padding: 5% 3%;
  max-width: 750px;
  margin: 0 auto;
}

.step {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 40px;
  position: relative;
}

.step--top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step--icon {
  width: 50px;
  height: 50px;

  /* margin-right: 1rem; */

  position: relative;
  top: -0.7rem;
}

.step--heading {
  font-weight: 600;
  display: inline-block;
  text-align: center;
  width: 70%;
}

.step--description {
  color: var(--text-secondary-color);
  text-align: center;
  font-size: 0.9rem;
}

.line {
  display: none;
  width: 40%;
  margin: 3rem auto;
  opacity: 0.2;
}

@media screen and (min-width: 700px) {
  .step--top {
    margin-bottom: 1.3rem;
  }

  .step--icon {
    width: 100px;
    height: 100px;
  }

  .step--heading {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }

  .step--description {
    font-size: 1rem;
  }

  .step:nth-child(3) .step--top .step--icon {
    order: 2;
  }

  .line {
    display: block;
  }
}
