/* Hero */

/****** need to refactor hero styles, keep code DRY *****/
.hero {
  background-image: url("../img/pexels-ella-olsson-1640774.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text {
  color: #222;
  /* text-shadow: 2px 2px 7px rgb(255, 255, 255); */
  width: 70%;
  text-align: center;
}

.hero .btn--start {
  margin-top: 1rem;
}

/* How It Works */

.how-it-works {
  padding: 5% 3%;
}

.step {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 30px;
  position: relative;
}

.step--top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-icon {
  width: 50px;
  height: 50px;

  /* margin-right: 1rem; */

  position: relative;
  top: -0.7rem;
}

.step-heading {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1rem;
  text-align: center;
  width: 70%;
}

.step-description {
  color: var(--text-secondary-color);
  text-align: center;
}
