* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-primary-color: #fff;
  --btn-primary-color: #009933;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Header */

.header {
  margin: 10px;
}

/* Nav */

.nav {
  display: flex;
  align-items: center;
}

/* Nav Left */

.logo {
  width: 50px;
  height: 50px;
}

/* Nav Right */
.nav--right {
  margin-left: auto;
}

.btn {
  /* background: var(--btn-primary-color); */
  background: linear-gradient(to bottom right, #08be45, #138639);
  color: var(--text-primary-color);
  padding: 10px;
  border: none;
  border-radius: 12px;
}

.btn:hover {
  background: #138639;
  cursor: pointer;
}

.fa-bars {
  margin-left: 5px;
}

/* Hero */

.hero {
  background-image: url("./img/pexels-ella-olsson-1640770.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  color: var(--text-primary-color);
  text-shadow: 2px 2px 7px rgb(73, 66, 66);
  width: 70%;
  text-align: center;
}

/* How It Works */

.how-it-works {
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  padding: 5% 3%;
  background-color: #f2f2f2;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.step-icon {
  width: 100px;
  height: 100px;
}

.step-heading {
  font-weight: 600;
}

.step-description {
  color: #808080;
  text-align: center;
}

/* Get Started */

.get-started {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5%;
  line-height: 1.4;
}

.get-started p {
  color: #808080;
  margin-bottom: 10px;
}

/* Gallery */
.gallery {
  text-align: center;
}

/* Footer */
.footer {
  background-color: #f2f2f2;
  color: #2b2b2b;
  text-align: center;
  padding: 2rem 0;
}

.footer a {
  text-decoration: none;
  color: #2b2b2b;
}

.footer--nav {
}

.footer--nav a {
  color: #2b2b2b;
  text-decoration: none;
  margin: 0 1rem;
}

.footer--support {
  margin: 2rem 0;
  line-height: 1.8;
}

.footer--support a {
  text-decoration: none;
  color: #2b2b2b;
}

.footer--social {
  margin: 2rem 0;
}

.footer--social a {
  margin: 0 0.2rem;
}

.footer--legal {
  font-size: 0.7rem;
}

.footer--legal img {
  margin-bottom: 1rem;
}

.footer--legal a {
  margin: 0 0.2rem;
}
