* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-primary-color: #fff;
  --text-secondary-color: #808080;
  --btn-primary-color: #009933;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Header */

.header {
  margin: 10px;
}

.btn {
  padding: 10px;
  border-radius: 12px;
  font-family: "Raleway", sans-serif;
}

.btn--start {
  /* background: var(--btn-primary-color); */
  background: linear-gradient(to bottom right, #08be45, #138639);
  color: var(--text-primary-color);
  border: none;
}

.btn--start:hover {
  background: #138639;
  cursor: pointer;
}

.btn--login {
  width: 100%;
  margin: 0 auto;
  background-color: var(--text-primary-color);
  border: 1px solid var(--btn-primary-color);
}

/* Nav */

.nav {
  display: flex;
  align-items: center;
}

/* Nav Left */

.logo {
  width: 50px;
  height: 50px;
}

/* Nav Right */
.nav--right {
  margin-left: auto;
}

.fa-bars {
  margin-left: 5px;
}

/* Nav Open/clicked */
.nav--open {
  position: absolute;
  top: 60px; /* height of header */
  left: 0;
  background: var(--text-primary-color);
  width: 100%;
  height: 45vh;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;

  z-index: 10;
}

.nav--link {
  margin: 0.5rem 0;
  text-decoration: none;

  display: flex;
  align-items: center;
}

.nav--link img {
  margin-right: 0.4rem;
}

.nav--link a {
  color: #2b2b2b;
}

.nav--open .btn--login {
  margin-top: auto;
}

.overlay {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* backdrop-filter: blur(px); */
  z-index: 5;
}

/* Hero */

.hero {
  background-image: url("./img/pexels-ella-olsson-1640770.jpg");
  background-position: center;
  background-size: cover;
  height: 60vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  color: var(--text-primary-color);
  text-shadow: 2px 2px 7px rgb(73, 66, 66);
  width: 70%;
  text-align: center;
}

/* How It Works */

.how-it-works {
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  padding: 5% 3%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.step-icon {
  width: 100px;
  height: 100px;
}

.step-heading {
  font-weight: 600;
}

.step-description {
  color: var(--text-secondary-color);
  text-align: center;
}

/* Gallery */
.gallery {
  text-align: center;
  background-color: #f2f2f2;
  padding: 1rem 0;
}

.gallery p {
  display: inline-block;
  background-color: rgba(0, 153, 51, 0.3);
  padding: 0.2rem;
}

.gallery--images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery--images img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 1rem;
}

/* Get Started */

.get-started {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5%;
  line-height: 1.4;
}

.get-started p {
  color: #808080;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  background-color: #f2f2f2;
  color: #2b2b2b;
  text-align: center;
  padding: 2rem 0;
}

.footer a {
  text-decoration: none;
  color: #2b2b2b;
}

.footer--nav {
}

.footer--nav a {
  color: #2b2b2b;
  text-decoration: none;
  margin: 0 1rem;
}

.footer--support {
  margin: 2rem 0;
  line-height: 1.8;
}

.footer--support a {
  text-decoration: none;
  color: #2b2b2b;
}

.footer--social {
  margin: 2rem 0;
}

.footer--social a {
  margin: 0 0.2rem;
}

.footer--legal {
  font-size: 0.7rem;
}

.footer--legal img {
  margin-bottom: 1rem;
}

.footer--legal a {
  margin: 0 0.2rem;
}
